@tailwind base;
@tailwind components;
@tailwind utilities;

.mm-toolbar-brand,
.tox-statusbar {
  display: none !important;
}

.markmap-node.drop-target {
  outline: 2px solid #00ff00;
  outline-offset: 2px;
}

.highlight-target {
  opacity: 0.3;
  transition: transform 0.2s ease, fill-opacity 0.2s ease;
}

.markmap-node.hovered {
  transition: transform 0.2s ease;
}

.markmap-node.dragging {
  opacity: 0.8;
}

.hovered text {
  font-weight: bold;
  opacity: 0.8;
  cursor: pointer;
}

.dotted-bg {
  --dot-bg: #fff;
  --dot-color: #7c7d7e;
  --dot-size: 1px;
  --dot-space: 22px;
  background: linear-gradient(
        90deg,
        var(--dot-bg) calc(var(--dot-space) - var(--dot-size)),
        transparent 1%
      )
      center / var(--dot-space) var(--dot-space),
    linear-gradient(
        var(--dot-bg) calc(var(--dot-space) - var(--dot-size)),
        transparent 1%
      )
      center / var(--dot-space) var(--dot-space),
    var(--dot-color);
}

.markmap-foreign > div > div::first-letter {
  text-transform: capitalize;
}

.header-container.structure-title::first-letter {
  text-transform: capitalize !important;
}
